@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>

    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        Venkatesh Kumar V
        <form enctype='multipart/form-data' method='post'>
	<div class="row">
    <p>
      <label>
        <span class='label'>Select File:</span>
        <span class='field custom-file'>
          <span class='file-field'>
            <input name='event_logo' type='file' />
          </span>

        </span>
      </label>
    </p>
	</div>
	
	<div>
		<img src=""/>
	</div>

    <p class='tar'>
      <button class='upload button' style="background-color: #555 !important;border: none !important;color : #fff;">Upload</button>
      <button class='cancel button close'>Cancel</button>
    </p>
  </form>


<button class='test button close'>Cancel</button>
    </body>

    <script>
          $(function(){
        	  
        	  
        	  $(".test").click(function(){
         		 $.ajax({
        			 headers: { 
        			        'Accept': 'application/json',
        			        'Content-Type': 'application/json' 
        			    },
        			    'type': 'DELETE',
         			 
        			 contentType: "application/json",
         			url : "/deleteEventType/" + 8,
                       success : function(response) {
                           alert("test")
                           return false
                     },
                     error : function(result) {
                     	alert("fail")
                          return false
                     }
         		 })
          	 });

        	  
        	 /* $(".test").click(function(){
        		 $.ajax({
       			 headers: { 
       			        'Accept': 'application/json',
       			        'Content-Type': 'application/json' 
       			    },
       			    'type': 'POST',
        			 
       			 contentType: "application/json",
        			url : "/updateEventType",
                     dataType : 'json',
                     data: JSON.stringify({name: "Ajax sending", description: "description"}),
                     success : function(response) {
                          alert("test")
                          return false
                    },
                    error : function(result) {
                    	alert("fail")
                         return false
                    }
        		 })
         	 }); */
        	 
        	 $(".upload").click(function(){
                 $('form').ajaxSubmit({
                    url : "/updateEventType",
                    method: "POST", 
                    dataType : 'json',
                    data: {id: 1, name: "Ajax sending", description: "description"},
                     success : function(response) {
                          alert("test")
                          return false
                    },
                    error : function(result) {
                    	alert("failure")
                         return false
                    }
                });
                 return false

            })
        	 
        	 
			

            /* $(".upload").click(function(){
                 $('form').ajaxSubmit({
                    url : "/addEventType",
                    method: "POST", 
                    dataType : 'json',
                    data: {name: "Ajax sending", description: "description"},
                     success : function(response) {
                          alert("test")
                          return false
                    },
                    error : function(result) {
                    	alert(failure)
                         return false
                    }
                });
                 return false

            }) */
          });
    </script>

</html>
